*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  margin-left: 1rem;
}

body {
  font-family: lato, sans-serif;
  line-height: 1.5;
  background-color: #ec4c8a;
  color: #fff;
  padding: 2rem;
}

header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 1.5rem;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 4rem;
  height: 4rem;
  margin-right: 0.7rem;
}

.homepage {
  flex-wrap: wrap;
  justify-content: center;
}

.homepage__item {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.homepage__item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.homepage .card .card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.homepage .card .card-description {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}



@media only screen and (min-width: 768px) {
  .homepage__item {
    width: 40%;
  }

}

@media only screen and (min-width: 1200px) {
  .homepage__item {
    flex-basis: 30%;
  }
}